<div class="container admin-panel">
    <div class="alert alert-danger" ng-if="answer.error">Error: {{answer.error.message}}!</div>
    <div class="alert alert-success" ng-if="answer.success">Success!</div>

    <div class="col-md-6">
        <h3>DB management</h3>
        <div class="btn-group" role="group">
            <div class="btn btn-primary"
                 ng-click="createTablesData()">Create tables data</div>
            <div class="btn btn-primary"
                 ng-click="createTables()">Create tables</div>
            <div class="btn btn-primary"
                 ng-click="removeTables()">Remove tables</div>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Data from CSV</h3>
        <label for="csvName">Name of CSV file</label>
        <input id="csvName" type="text" ng-model="csvName">
        <div class="btn btn-primary" ng-click="insertCSVtoDB()">Download</div>
    </div>

    <div ng-if="answer" class="col-md-12">
        <p>Server answer:</p>
        <pre>{{ answer | json}}</pre>
    </div>
</div>